@{
    ViewData["Title"] = "Os meus bilhetes";
}

<link rel="stylesheet" href="~/css/ticket.css">

<h2><strong>Os meus bilhetes</strong></h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">1</th>
            <td>Evento 1</td>
            <td>20-09-2024</td>
            <td>19,90€</td>
            <td><a href="#" class="btn btn-outline-dark">Download</a></td>
            <td><a href="#" class="btn btn-danger">Cancelar</a></td>
        </tr>
        <!-- Outros bilhetes podem ser adicionados aqui -->
    </tbody>
</table>
