@{
    ViewData["Title"] = "Solteira Casada Viúva Divorciada";
}

<link rel="stylesheet" href="~/css/events.css">

<div class="event-container">
    <div class="event-header">
        <div class="image-wrapper">
            <img src="~/img/SCVDPoster.jpeg" alt="Solteira Casada Viúva Divorciada">
        </div>
        <div class="event-details">
            <h1>Solteira Casada Viúva Divorciada</h1>
            <p class="event-classification">
                Classificação: Maiores de 14 anos<br>
                Tipo: Teatro
            </p>
            <div class="event-notes">
                <h4>Começo: 21:00</h4>
                <h4>Duração: 120 minutos</h4>
            </div>
        </div>
    </div>

    <div class="event-description">
        <h2><strong>DESCRIÇÃO</strong></h2>
        <p>
            Para comemorar 20 anos de carreira, Melânia Gomes apresenta-nos quatro mulheres muito especiais.<br><br>
            Vera, solteira, trabalha num serviço de apoio telefónico a vítimas de solidão… mas o que ela gostava mesmo era de ter alguém que a apoiasse a ela!<br><br>
            Carmo, casada, descobre a traição do marido e pondera seriamente tornar-se acompanhante de luxo… mas falta-lhe vocação!<br><br>
            Celeste, viúva, tenta explicar em tribunal a bizarra sucessão de acontecimentos que levou à morte do marido… e como, de caminho, conseguiu finalmente dizer um palavrão!<br><br>
            Catarina, divorciada, já tentou encontrar o homem certo. Várias vezes. Mas a única que está sempre certa é ela, porque os homens estão sempre errados!<br><br>
            E todas elas são Melânia Gomes, numa viagem vertiginosa ao Planeta das Mulheres!<br><br>
            “Solteira Casada Viúva Divorciada” é uma comédia delirante.<br>
            Uma visita guiada a cada estado civil com uma actriz em estado de graça, que vai deixar tudo em estado de sítio!
        </p>
    </div>

    <div class="button-wrapper">
        <a href="@Url.Action("Index", "Ticket")" class="buy-button">COMPRAR BILHETES</a>
    </div>
</div>
