@{
    ViewData["Title"] = "About";
}

<div class="accordion" id="accordionExample">
    <h1>Ticketline</h1>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>A nossa missão</b>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Somos uma plataforma intuitiva e fácil de usar, projetada para facilitar a consulta e inscrição em eventos de diversas categorias.<br />
                Com uma interface moderna e responsiva, os utilizadores podem navegar facilmente por uma vasta seleção de eventos,
                desde conferências e concertos até workshops e festivais.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Como funciona</b>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Na Ticketline, os utilizadores têm acesso a informações detalhadas sobre cada evento, incluindo data, localização, descrição e preço. <br />
                Além disso, a plataforma permite que os utilizadores se inscrevam de forma rápida e segura, gerindo as suas inscrições e pagamentos diretamente no seu perfil.
            </div>
        </div>
    </div>
</div>