@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="accordion" id="accordionExample">
    <h5 style="text-align: center"><b>A tua privacidade é importante para nós. Esta Política de Privacidade descreve como recolhemos, usamos, armazenamos e protegemos as tuas informações pessoais quando utilizas a nossa plataforma.</b></h5>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>Informações que recolhemos</b>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Recolhemos informações quando:</strong>
                <ul>
                    <li>Te registas na nossa plataforma;</li>
                    <li>Realizas uma inscrição num evento;</li>
                    <li>Fazes algum comentário;</li>
                    <li>Nos envias uma questão.</li>
                </ul>
                <strong>As informações recolhidas podem incluir:</strong>
                <ul>
                    <li>Nome;</li>
                    <li>Email;</li>
                    <li>Nº de telemóvel;</li>
                    <li>Informações de pagamento; <sup>1</sup></li>
                </ul>
                <strong>Utilizamos as tuas informações para:</strong>
                <ul>
                    <li>Processar a tua inscrição em eventos;</li>
                    <li>Comunicar sobre eventos futuros;</li>
                    <li>Melhorar a nossa plataforma e a experiência do utilizador;</li>
                    <li>Responder questões e fornecer suporte.</li>
                </ul>               
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Partilha e segurança de informação</b>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Não vendemos, trocamos ou transferimos as tuas informações pessoais para terceiros sem o teu consentimento, exceto quando necessário para processar pagamentos ou conforme exigido por lei.</p>
                <p>Implementamos medidas de segurança adequadas para proteger as tuas informações pessoais contra acessos não autorizados, uso indevido ou divulgação.</p>
                <p>No entanto, nenhuma transmissão de dados pela internet é 100% segura, pelo que não podemos garantir segurança absoluta.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Os teus direitos</b>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Tens o direito de:</strong>
                <ul>
                    <li>Aceder às tuas informações pessoais;</li>
                    <li>Corrigir informações incompletas ou incorretas;</li>
                    <li>Solicitar a exclusão dos teus dados, sujeitos a requisitos legais.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <h6 style="text-align: center"><strong>Esta política está sujeita a alterações quando necessário. Qualquer mudança significativa será notificada através de e-mail ou por meios de avisos na nossa plataforma.</strong></h6>
    <p style="font-size:12px; text-align: center"><sup>1</sup> As tuas informações de pagamento são processadas por terceiros. Nós nunca iremos guardar estes dados sem o teu consentimento.<br />
    Se tiveres alguma dúvida em relação à nossa política, entra em contato connosco <a href="mailto:220001208@esg.ipsantarem.pt?subject=Duvidas%20sobre%20a%20Politica%20de%20Privacidade">aqui</a>.</p>
</footer>