<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Ticketline</title>
    <link rel="icon" type="image/x-icon" href="~/img/ico.png" />
    <link rel="stylesheet" href="~/css/morph.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TicketLine</a>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto"></ul>
                    <a class="btn btn-outline-light me-2" href="@Url.Action("MyTickets", "Ticket")">Os meus bilhetes</a>
                    <a class="btn btn-secondary my-2 my-sm-0" href="@Url.Action("Index", "User")">
                        <svg width="1em" height="1em" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg" class="c-icon">
                            <path d="M4.167 6.333a5.833 5.833 0 1111.666 0 5.833 5.833 0 01-11.666 0zM10 9.833a3.5 3.5 0 100-7 3.5 3.5 0 000 7zM3.4 16.067a9.333 9.333 0 00-2.733 6.6H3a7 7 0 0114 0h2.333a9.333 9.333 0 00-15.933-6.6z" fill="currentColor"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <audio id="bg-audio" autoplay loop>
        <source src="~/audio/cat.mp3" type="audio/mp3" />
    </audio>

    <script>
        const audio = document.getElementById("bg-audio");
        audio.volume = 0.1;

        if (sessionStorage.getItem("audioTime")) {
            audio.currentTime = sessionStorage.getItem("audioTime");
        }

        if (sessionStorage.getItem("isPlaying") === "true") {
            audio.play();
        }

        audio.addEventListener("timeupdate", () => {
            sessionStorage.setItem("audioTime", audio.currentTime);
        });

        audio.addEventListener("play", () => {
            sessionStorage.setItem("isPlaying", "true");
        });

        audio.addEventListener("pause", () => {
            sessionStorage.setItem("isPlaying", "false");
        });
    </script>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2024 TI (Grupo 3) • <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a> • <a asp-area="" asp-controller="Home" asp-action="About">Quem somos</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
