@{
    ViewData["Title"] = "Criar conta";
}

<div class="d-flex justify-content-center align-items-start" style="padding-top: 10vh;">
    <div class="w-50" style="max-width: 500px; padding: 20px;">
        <h4 class="text-center"><strong>Ainda não tens conta? Regista-te agora!</strong></h4>
        <form style="margin-top:30px">
            <fieldset>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="John Doe">
                    <label for="floatingInput">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-outline-dark">Criar conta</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
