@{
    ViewData["Title"] = "Criar conta";
}

<div class="d-flex justify-content-center" style="padding-top: 10vh;">
    <div class="w-50" style="max-width: 500px; padding: 20px;">
        <h4 class="text-center">Ainda não tens conta? Regista-te agora!</h4>

        <form class="mt-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="John Doe" required>
                <label for="name">Nome</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
                <label for="password">Password</label>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark">Criar conta</button>
            </div>
        </form>
    </div>
</div>
