@{
    ViewData["Title"] = "Os meus bilhetes";
}

<style>
    .table td, .table th {
        text-align: center;
        vertical-align: middle;
    }

    .btn-danger {
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }

        .btn-danger:hover {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
        }

    h2 {
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 30px;
    }
</style>

<h2>Os meus bilhetes</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Evento</th>
            <th scope="col">Estado de Inscrição</th>
            <th scope="col">Estado de Pagamento</th>
            <th scope="col">Download</th>
            <th scope="col">Cancelar</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Evento 1</th>
            <td>Aceite</td>
            <td>Confirmado</td>
            <td><a href="#" class="btn btn-outline-dark">Download</a></td>
            <td><a href="#" class="btn btn-danger">Cancelar</a></td>
        </tr>
    </tbody>
</table>
