@model WebApp.Models.ViewModels.User.UserLoginViewModel

@{
    ViewData["Title"] = "Iniciar sessão";
}

<div class="d-flex justify-content-center" style="padding-top: 10vh;">
    <div class="w-50" style="max-width: 500px; padding: 20px;">
        <h4 class="text-center"><strong>Entra na tua conta TicketLine!</strong></h4>

        <p class="text-center mt-3" style="font-size: 14px;">
            Ainda não tens conta? Regista-te <a href="@Url.Action("Register", "User")">aqui</a>!
        </p>

        <form asp-action="Login" method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="" asp-for="email" required>
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="pass" name="pass" placeholder="" asp-for="pass" autocomplete="off" required>
                <label for="pass">Password</label>
            </div>

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="text-danger text-center">
                    <p>@ViewData["ErrorMessage"]</p>
                </div>
            }

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark">Iniciar sessão</button>
            </div>
        </form>
    </div>
</div>
