@{
    ViewData["Title"] = "Profile";
}

@model WebApp.Models.ViewModels.User.UserProfileViewModel

<link rel="stylesheet" href="~/css/user.css">

<div class="main">
    <div class="account-details">
        <!-- Update Perfil -->
        <form asp-action="UpdateProfile" method="post" style="display: flex; flex-direction: column;">
            <!-- Informações pessoais -->
            <div class="section">
                <h3>Detalhes Pessoais</h3>
                <div class="form-pair">
                    <div class="form-group">
                        <label asp-for="nome">Nome</label>
                        <input type="text" class="form-control" asp-for="nome" required />
                        <span asp-validation-for="nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="apelido">Apelido</label>
                        <input type="text" class="form-control" asp-for="apelido" required />
                        <span asp-validation-for="apelido" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-pair">
                    <div class="form-group">
                        <label asp-for="email">Email</label>
                        <input type="email" class="form-control" asp-for="email" required />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="dt_nascimento">Data de Nascimento</label>
                        <input type="date" class="form-control" asp-for="dt_nascimento" required />
                        <span asp-validation-for="dt_nascimento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Detalhes de faturação -->
            <div class="section">
                <br />
                <h3>Detalhes de Faturação</h3>
                <div class="form-pair">
                    <div class="form-group">
                        <label asp-for="morada">Morada</label>
                        <input type="text" class="form-control" asp-for="morada" required />
                        <span asp-validation-for="morada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nif">NIF</label>
                        <input type="text" class="form-control" asp-for="nif" required />
                        <span asp-validation-for="nif" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-pair">
                    <div class="form-group">
                        <label asp-for="cidade">Cidade</label>
                        <input type="text" class="form-control" asp-for="cidade" required />
                        <span asp-validation-for="cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cod_postal">Código Postal</label>
                        <input type="text" class="form-control" asp-for="cod_postal" required />
                        <span asp-validation-for="cod_postal" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit">GUARDAR</button>
        </form>

        <!-- Update Password -->
        <form asp-action="ChangePassword" method="post" style="display: flex; flex-direction: column;">
            <div class="section">
                <br />
                <h3>Alterar Password</h3>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="pass" placeholder="Password Atual" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="newPass" placeholder="Password Nova" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="confirmPass" placeholder="Confirmar Password Nova" required />
                </div>
            </div>
            <button type="submit">ALTERAR</button>
        </form>
    </div>
</div>
