@{
    ViewData["Title"] = "Criar Conta";
}

<div class="d-flex justify-content-center" style="padding-top: 10vh;">
    <div class="w-50" style="max-width: 500px; padding: 20px;">
        <h4 class="text-center"><strong>Ainda não tens conta? Regista-te agora!</strong></h4>

        <form class="mt-3">
            <div class="d-flex gap-2 mb-3">
                <div class="form-floating flex-fill">
                    <input type="text" class="form-control" id="firstName" placeholder="" required>
                    <label for="firstName">Nome</label>
                </div>
                <div class="form-floating flex-fill">
                    <input type="text" class="form-control" id="surname" placeholder="" required>
                    <label for="surname">Apelido</label>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="" required>
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
                <label for="password">Password</label>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark">Criar Conta</button>
            </div>
        </form>
    </div>
</div>
